In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
from sklearn.ensemble import RandomForestClassifier
r = RandomForestClassifier()
from sklearn.tree import DecisionTreeClassifier
d = DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
from sklearn.neighbors import KNeighborsClassifier
k = KNeighborsClassifier()
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
g = GaussianNB()
b = BernoulliNB()

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv('train.csv')

In [ ]:
df2=pd.read_csv('test.csv')

In [ ]:
df1.shape

(891, 12)

In [ ]:
df2.shape

(418, 11)

In [ ]:
df=df1.append(df2)#iki dataframe(kodlamada yaptığımız dosyanın adı MEsela: head() aldığımız kısım)birleştirip tek bir dosya haline getirdik

In [ ]:
df.shape

(1309, 12)

In [ ]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.sample(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
708,709,1.0,1,"Cleaver, Miss. Alice",female,22.0,0,0,113781,151.55,NaN,S
200,1092,NaN,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.50,NaN,Q

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [ ]:
df.isnull(). sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [ ]:
df.Embarked.value_counts()

S    914
C    270
Q    123
Name: Embarked, dtype: int64

In [ ]:
df.Embarked.value_counts(normalize=True)#yüzde alma formülü nor..

S    0.699311
C    0.206580
Q    0.094109
Name: Embarked, dtype: float64

In [ ]:
df['Title']=df['Name'].str.extract('([A-Za-z]+)\.',expand=False)
df['Title'].value_counts()

Mr          757
Miss        260
Mrs         197
Master       61
Rev           8
Dr            8
Col           4
Major         2
Ms            2
Mlle          2
Capt          1
Dona          1
Countess      1
Lady          1
Sir           1
Mme           1
Don           1
Jonkheer      1
Name: Title, dtype: int64

In [ ]:
df.groupby('Sex')["Age"].mean()

Sex
female    28.687088
male      30.585228
Name: Age, dtype: float64

In [ ]:
df["Age"].fillna(df.groupby("Title")["Age"].transform("median"),inplace=True)
df.groupby("Title")["Age"].transform("median")

0      29.0
1      35.5
2      22.0
3      35.5
4      29.0
       ...
413    29.0
414    39.0
415    29.0
416    29.0
417     4.0
Name: Age, Length: 1309, dtype: float64

In [ ]:
df.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
Title             0
dtype: int64

In [ ]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode())

In [ ]:
df.isnull().sum() #verinin %80 boşsa kullanmıyoruz

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age               0
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          0
Title             0
dtype: int64

In [ ]:
del df['Ticket'] #sutunları ifade ederken köşeli parantez kullanıyoruz

In [ ]:
del df['Cabin']

In [ ]:
del df['Name']

In [ ]:
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())

In [ ]:
df.isnull().sum()

PassengerId      0
Survived       418
Pclass           0
Sex              0
Age              0
SibSp            0
Parch            0
Fare             0
Embarked         0
Title            0
dtype: int64

In [ ]:
x=pd.get_dummies(df,drop_first=True)
train=x[:891]  #burada birleştirdiğimiz ikidataframe ayırıyoruz
test=x[891:]   #: sonrası baştan 891 al demek : öncesi ise 981den sonrasını al

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     1309 non-null   int64
 1   Survived        891 non-null    float64
 2   Pclass          1309 non-null   int64
 3   Age             1309 non-null   float64
 4   SibSp           1309 non-null   int64
 5   Parch           1309 non-null   int64
 6   Fare            1309 non-null   float64
 7   Sex_male        1309 non-null   uint8
 8   Embarked_Q      1309 non-null   uint8
 9   Embarked_S      1309 non-null   uint8
 10  Title_Col       1309 non-null   uint8
 11  Title_Countess  1309 non-null   uint8
 12  Title_Don       1309 non-null   uint8
 13  Title_Dona      1309 non-null   uint8
 14  Title_Dr        1309 non-null   uint8
 15  Title_Jonkheer  1309 non-null   uint8
 16  Title_Lady      1309 non-null   uint8
 17  Title_Major     1309 non-null   uint8
 18  Title_Master    1309 non-null   uint8
 19  Title_Miss      1309 non-null   uint8
 20  Title_Mlle      1309 non-null   uint8
 21  Title_Mme       1309 non-null   uint8
 22  Title_Mr        1309 non-null   uint8
 23  Title_Mrs       1309 non-null   uint8
 24  Title_Ms        1309 non-null   uint8
 25  Title_Rev       1309 non-null   uint8
 26  Title_Sir       1309 non-null   uint8
dtypes: float64(3), int64(4), uint8(20)
memory usage: 107.4 KB

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PassengerId     891 non-null    int64
 1   Survived        891 non-null    float64
 2   Pclass          891 non-null    int64
 3   Age             891 non-null    float64
 4   SibSp           891 non-null    int64
 5   Parch           891 non-null    int64
 6   Fare            891 non-null    float64
 7   Sex_male        891 non-null    uint8
 8   Embarked_Q      891 non-null    uint8
 9   Embarked_S      891 non-null    uint8
 10  Title_Col       891 non-null    uint8
 11  Title_Countess  891 non-null    uint8
 12  Title_Don       891 non-null    uint8
 13  Title_Dona      891 non-null    uint8
 14  Title_Dr        891 non-null    uint8
 15  Title_Jonkheer  891 non-null    uint8
 16  Title_Lady      891 non-null    uint8
 17  Title_Major     891 non-null    uint8
 18  Title_Master    891 non-null    uint8
 19  Title_Miss      891 non-null    uint8
 20  Title_Mlle      891 non-null    uint8
 21  Title_Mme       891 non-null    uint8
 22  Title_Mr        891 non-null    uint8
 23  Title_Mrs       891 non-null    uint8
 24  Title_Ms        891 non-null    uint8
 25  Title_Rev       891 non-null    uint8
 26  Title_Sir       891 non-null    uint8
dtypes: float64(3), int64(4), uint8(20)
memory usage: 73.1 KB

In [ ]:
y=train['Survived']
x=train.drop('Survived',axis=1)

In [ ]:
b.fit(x,y)

BernoulliNB()

In [ ]:
tahmin1=b.predict(test)

In [ ]:
accuracy_score(te st,tahmin1),precision_score(test,tahmin1),recall_score(test,tahmin1),f1_score(test,tahmin1)

(0.7934904601571269,
 0.7219101123595506,
 0.7514619883040936,
 0.7363896848137537)

In [ ]:
g.fit(x,y)

GaussianNB()

In [ ]:
tahmin2=g.predict(train)

In [ ]:
accuracy_score(test,tahmin2),precision_score(test,tahmin2),recall_score(test,tahmin2),f1_score(test,tahmin2)

(0.7598204264870931,
 0.8076923076923077,
 0.49122807017543857,
 0.6109090909090908)

In [ ]:
gbc.fit(train,test)

GradientBoostingClassifier()

In [ ]:
tahmin3=gbc.predict(train)

In [ ]:
accuracy_score(test,tahmin3),precision_score(test,tahmin3),recall_score(test,tahmin3),f1_score(test,tahmin3)

(0.898989898989899, 0.9064516129032258, 0.8216374269005848, 0.8619631901840491)

In [ ]:
r.fit(train,test)

RandomForestClassifier()

In [ ]:
tahmin4=r.predict(train)

In [ ]:
accuracy_score(test,tahmin4),precision_score(test,tahmin4),recall_score(test,tahmin4),f1_score(test,tahmin4)

(1.0, 1.0, 1.0, 1.0)

In [ ]:
d.fit(train,test)

DecisionTreeClassifier()

In [ ]:
tahmin5=d.predict(train)

In [ ]:
accuracy_score(test,tahmin5),precision_score(test,tahmin5),recall_score(test,tahmin5),f1_score(test,tahmin5)

(1.0, 1.0, 1.0, 1.0)

In [ ]:
log.fit(train,test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
tahmin6=log.predict(train)

In [ ]:
accuracy_score(test,tahmin6),precision_score(test,tahmin6),recall_score(test,tahmin6),f1_score(test,tahmin6)

(0.8226711560044894,
 0.7911392405063291,
 0.7309941520467836,
 0.7598784194528875)

In [ ]:
k.fit(train,test)

KNeighborsClassifier()

In [ ]:
tahmin7=k.predict(train)

In [ ]:
accuracy_score(test,tahmin7),precision_score(test,tahmin7),recall_score(test,tahmin7),f1_score(test,tahmin7)

(0.7575757575757576, 0.7404580152671756, 0.5672514619883041, 0.642384105960265)

In [ ]:
print(confusion_matrix(test,tahmin3))

[[520  29]
 [ 61 281]]

In [ ]:
del test2['Survived']

In [ ]:
tah=gbc.predict(test2)

In [ ]:
tah

array([0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 0., 1., 0., 1., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
       0., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 0., 0., 1.])

In [ ]:
sonuc=test2[["PassengerId"]]

In [ ]:
sonuc["Survived"]=tah

<ipython-input-68-aea9fe214ded>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sonuc["Survived"]=tah

In [ ]:
sonuc.head()

   PassengerId  Survived
0          892       0.0
1          893       1.0
2          894       0.0
3          895       0.0
4          896       1.0

In [ ]:
sonuc['Survived']=sonuc['Survived'].astype('int64')

<ipython-input-70-d71fe2b3b1af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sonuc['Survived']=sonuc['Survived'].astype('int64')

In [ ]:
sonuc.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [ ]:
sonuc.to_csv('sonuc.csv', index = False)

In [ ]:
pwd

'C:\\Users\\VAHSÜM\\yapay zeka dersleri\\ödevlerim'

In [ ]:
sonuc.shape

(418, 2)